.message-row{
    width:100%;
    float:left;
    .sender-name{
        color:#4e7ea8;
        word-break: initial;
        width:100%;
        margin-right:50px;
        font:18px/20px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    }
    .sender-message{
        width:100%;
        margin-left:10px;
        float:left;
        font:12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    }
    .sender-time{
        float: right;
        font: 11px/20px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
        color: grey;
    }
}

.receiver{
    float:left;
    padding:5px 10px 5px 10px;
    margin-left:30px;
    margin-top:10px;
    position: relative;
    background: #FFFFFF;
    border-radius: .4em;
    max-width: 450px;
    word-break: break-all;
}

.receiver:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #FFFFFF;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.sender{
    padding:5px 10px 5px 10px;
    margin-right:30px;
    margin-top:10px;
    float:right;
    position: relative;
    background: #a4e893;
    border-radius: .4em;
    max-width: 450px;
    word-break: break-all;
}

.sender:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #a4e893;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
}
