.App {
    width: 80%;
    min-height: 500px;
    min-width:1060px;
    overflow:auto;
    margin: auto;
    padding: 10px;
}

.MainChat{
    float: left;
    width: 45%;
    height: 100%;
    position: relative;
    padding: 20px;
    padding-right:35px;
    margin-right:5px;
}
.SecondaryChat{
    padding: 20px;
    width: 45%;
    height: 100%;
    position: relative;
    float: left;
}
.chat-title{
    text-align:center;
    font:22px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    color:#FFF;
    width:100%; 
    font-weight: bold;
    background-color:#5682a3;
    padding-top: 15px;
    padding-bottom: 25px;
}
